.idea
*/.ipynb_checkpoints
*/__pycache__
*.npz
*.png
*.svg
*.pyc
/kakao-anena/product-categories-classification/.ipynb_checkpoints
.ipynb_checkpoints
/kakao-anena/product-categories-classification/input
/kakao-anena/product-categories-classification/code/.ipynb_checkpoints
pymldg-rev/data
python-data-analysis/data
python-data-analysis/img
python-for-data-analysis/datasets
python-for-data-analysis/examples
stock-analysis-in-python/chap04/*.xls
